$black:#455A64;
$yellow:#ffc101;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*{
    padding: 0;
    margin: 0;
    transition: all 0.2s linear;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    text-transform: uppercase;
}
html{
    font-size: 62.5%;
}
body{
    overflow: hidden;
}
header{
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;left: 0;
    .logo{
        h1{
            font-size: 4rem;
            color: $yellow;
            font-family: 'Kaushan Script', cursive;
            &:hover{
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }
    .menu{
        display: none;
        font-size: 4.5rem;
        cursor: pointer;
        z-index: 1000000;
        color: $yellow;
    }
    ul{
        width: 60rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        padding: 1rem;
        li{
            a{
                font-size: 2rem;
                text-decoration: none;
                color: #fff;
                &:hover{
                    color: $yellow;
                }
            }
        }

    }
}
.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .content{
        padding: 4.8rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        h2{
            color: $black;
            font-size: 5rem;
            margin: 2rem 0;
            font-family: 'Kaushan Script', cursive;

        }
        p{
            font-size: 3.5rem;
            color: $yellow;
            font-family: 'Kaushan Script', cursive;

        }
       .buttons{
        margin: 4rem 0;
        a button{
            height: 4rem;
            width: 16rem;
            margin-top: 1rem;
            border: none;
            outline: none;
            border-radius: 5rem;
            color: #fff;
            cursor: pointer;
            &:hover{
                opacity: 0.7;
            }
        }
        a:nth-child(1) button{
            background-color: $yellow;
        }
        a:nth-child(2) button{
            background-color: $black;
            margin-left: 2rem;
        }

    }
    .playBtn{
        font-size: 2rem;
        margin-top: 2rem;
        cursor: pointer;
        i{
            color: $yellow;
        }
            }

    }
    .image{
        img{
            background-color: $black;
            width: 50vw;
        }
    }
}
.videoContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #fff, $alpha: 0.5);
    video{
        background-color: #000;
        width: 50vw;
        height: 60vh;
    }
    opacity: 0;
    visibility: hidden;
    i{
        position: fixed;
        top: 0;right: 0;
        margin: 2rem;
        font-size: 5rem;
        color: rgba($black, $alpha: 0.7);
        cursor: pointer;
    }
}
.playToggle{
    opacity: 1;
    visibility: visible;

}



@media (max-width:992px){
    html{
        font-size: 50%;
    }
    header{
        .menu{
            display: block;
            margin: 2rem;
            position: fixed;
            top: 0;
            right: 0;
            }
        nav{
            background-color: #fff;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            position: fixed;
            top: 0;
            right: -200%;
            ul{           
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
            li{
                padding: 5.5rem;
                a{
                    font-size: 4rem;
                }
            }
        }
        }
    }
    .videoContainer{
        video{
            width: 70vw;
            height: 45vh;
        
        }
    }
    .toggle{
        right: 0;
    }
}

@media (max-width:768px)
{
    .home{
        .content{
            width: 100%;
            text-align: center;
        }
        .image{
            display: none;
        }

    }
    .videoContainer{
        video{
            width: 70vw;
            height: 40vh;
        
        }
    }
}

